<div class="reporting-container">
    <div class="content">
        <div class="search">
            <app-search 
            [classData]="helperService.allCalsses"
            [studentData]="helperService.classStudents"
            (valueChange)="handleSearchChange($event)"></app-search>
        </div>
        
        <div class="progress">
            <app-progress-bar [progressData]="helperService.classProgressData"></app-progress-bar>
        </div>

        <div class="search-results">
            <app-search-result [tableData]="helperService.classActivityData"></app-search-result>
        </div>

    </div>
</div>

