.progress-bar-container {
    width: 100%; 
    height: 20px; 
    background-color: #ddd; 
    border-radius: 5px; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); 
    display: flex; 
}

label {
    font-size: 10px;
}

.progress-item {
    height: 100%; 
}

.progress-bar-detail-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    min-width: 60%;
    margin-top: 20px;
}

.detail-item {
    width: 20px;
    height: 20px;
}

.unassigned {
    background-color: lightgray;
}

.weak { 
    background-color: red; 
}

.ok {
    background-color: yellow; 
}

.good {
    background-color: blue;  
}

.excellent  {
    background-color: green; 
}
