<div class="progress-bar-container">
    <span class="progress-item unassigned" [ngStyle]="{'width': '10%' }"></span>
    <span class="progress-item weak" [ngStyle]="{'width': '20%' }"></span>
    <span class="progress-item ok" [ngStyle]="{'width': '10%' }"></span>
    <span class="progress-item good" [ngStyle]="{'width': '30%' }"></span>
    <span class="progress-item excellent" [ngStyle]="{'width': '30%' }"></span>
</div>

<div class="progress-bar-detail-container">
    <div class="detail-item unassigned"></div><Label>Unassigned</Label>
    <div class="detail-item weak"></div><Label>Weak</Label>
    <div class="detail-item ok"></div><Label>Ok</Label>
    <div class="detail-item good"></div><Label>Good</Label>
    <div class="detail-item excellent"></div><Label>Excellent</Label>
</div>
