<div class="progress-bar-container" *ngIf="progressData?.total > 0">
    <span class="progress-item unassigned" [style.width.%]="progressData?.unassigned"></span>
    <span class="progress-item weak" [style.width.%]="progressData?.weak"></span>
    <span class="progress-item ok" [style.width.%]="progressData?.ok"></span>
    <span class="progress-item good" [style.width.%]="progressData?.good"></span>
    <span class="progress-item excellent" [style.width.%]="progressData?.excellent"></span>
</div>

<div class="progress-bar-detail-container" *ngIf="progressData?.total > 0">
    <div class="detail-item unassigned"></div><Label>Unassigned ({{progressData?.unassigned}}%)</Label>
    <div class="detail-item weak"></div><Label>Weak ({{progressData?.weak}}%)</Label>
    <div class="detail-item ok"></div><Label>Ok ({{progressData?.ok}}%)</Label>
    <div class="detail-item good"></div><Label>Good ({{progressData?.good}}%)</Label>
    <div class="detail-item excellent"></div><Label>Excellent ({{progressData?.excellent}}%)</Label>
</div>
