/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Quicksand', sans-serif;
}


input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
